#skills {
    padding: 1rem;

    ::ng-deep .mat-expansion-panel-body {
        padding: 0;

        table {
            width: 100%;
    
            .mat-column-title {
                width: 40%;
            }
    
            .mat-column-yearsExp, 
            .mat-column-selfRating {
                width: 20%;
            }

            .mat-column-selfRating {
                width: 5%;
            }
        }
    } 
}