#portfolio {
    padding: 1em;

    ::ng-deep .mat-tab-group {
        width: 100%;

        .mat-expansion-panel-header {
            padding: 4px 24px;

            .mat-card-avatar {
                img {
                    width: 50px;
                }
            }
        }

        .mat-expansion-panel-content {
            max-width: 100%;
        }

        .mat-tab-body-content {
            @media (max-width: 599px) {
                max-width: 92vw !important;
            }
        }

        .year-range {
            display: contents;
            font-size: 0.75em;
        }
    }    
}