:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  .mat-icon {
    margin-right: 10px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

.shell-container {
  $bgHeader: linear-gradient(to bottom, #181510 0%, #785f37 100%);
  $bgLight: linear-gradient(to bottom, #cbb682 0%, #ffffff 100%);
  $bgDark: linear-gradient(to bottom, #785f37 0%, #000000 100%);

  .mat-toolbar {
    background: $bgHeader;
  }

  .mat-sidenav,
  .mat-sidenav-content {
    background: $bgDark;
  }

  &.theme-alternate {
    .mat-sidenav,
    .mat-sidenav-content {
      background: $bgDark;
    }
  }
}

.home-link {
  outline: none;
  cursor: pointer;
}

.resume-links {
  margin-top: 40px;

  span.header {
    margin-left: 16px;
    padding-bottom: 10px;
    display: block;
  }
}
