<div fxFlex class="shell-container" [ngClass]="{'theme-alternate': isDarkTheme}">
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar color="primary">
        <span translate routerLink="/home" class="home-link">APP_NAME</span>
        <div fxFlex></div>
        <div></div>
        <div>
          <button mat-icon-button aria-label="Enable Light Mode" (click)="toggleTheme()" matTooltip="Enable Dark Mode" *ngIf="!isDarkTheme">
            <i class="material-icons-outlined">wb_sunny</i>
          </button>
          <button mat-icon-button aria-label="Enable Dark Mode" (click)="toggleTheme()" matTooltip="Enable Light Mode" *ngIf="isDarkTheme">
            <i class="material-icons">wb_sunny</i>
          </button>
        </div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/bio" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>star</mat-icon><span translate>Bio</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/timeline" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>access_time</mat-icon><span translate>Timeline</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/resume" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>person</mat-icon><span translate>Resume</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/portfolio" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>work</mat-icon><span translate>Portfolio</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/skills" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>keyboard</mat-icon><span translate>Skills</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
        <mat-list class="resume-links">
          <span class="header">Download Resume</span>
          <mat-divider></mat-divider>
          <a mat-list-item href="/resume.doc" target="_blank">
            <mat-icon>share</mat-icon><span translate>Word Format</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item href="/resume.pdf" target="_blank">
            <mat-icon>share</mat-icon><span translate>PDF Format</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
        <mat-list class="resume-links">
          <span class="header">Social Media</span>
          <mat-divider></mat-divider>
          <a mat-list-item href="https://www.linkedin.com/in/miguelcarino2" target="_blank">
            <mat-icon>launch</mat-icon><span translate>LinkedIn</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item href="https://github.com/mcarino2" target="_blank">
            <mat-icon>launch</mat-icon><span translate>Github</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
