<div class="container">
  <!-- <mat-card class="portrait">
    <img class="logo" src="assets/mc.jpg" alt="Miguel Carino" />
    <mat-card-title>Miguel Carino</mat-card-title>
  </mat-card> -->
  <mat-card>
    <mat-card-title>Miguel Carino</mat-card-title>
    <mat-card-subtitle>Resume and Portfolio<br />Since 2004</mat-card-subtitle>
    <mat-card-content
      >Thank you for taking time to visit my resume and portfolio site. I hope you gain a good insight into who I am as
      well as the skills I possess. This site contains detailed descriptions of my work experience, a listing of
      websites that I have either developed or contributed content, and a comprehensive list of computer skills I have
      attained over the years. So don't be shy and start looking this site over.</mat-card-content
    >
  </mat-card>
  <mat-card class="section">
    <mat-card-title><mat-icon>star</mat-icon>Bio</mat-card-title>
    <mat-card-content
      >This is my story behind my career. The story of how my hobby took off from building fan sites to working for
      Apple in Silicon Valley and beyond.</mat-card-content
    >
    <mat-card-actions>
      <button mat-button routerLink="/bio">Learn More...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="section">
    <mat-card-title><mat-icon>access_time</mat-icon>Timeline</mat-card-title>
    <mat-card-content
      >A year by year outiline of my career coupled with a few life events along the way.</mat-card-content
    >
    <mat-card-actions>
      <button mat-button routerLink="/timeline">Learn More...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="section">
    <mat-card-title><mat-icon>person</mat-icon>Resume</mat-card-title>
    <mat-card-content
      >This is my résumé. You can read it and/or download it. The choice is yours. I can definitely assure you now, me
      and the internet go way back.</mat-card-content
    >
    <mat-card-actions>
      <button mat-button routerLink="/resume">Learn More...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="section">
    <mat-card-title><mat-icon>work</mat-icon>Portfolio</mat-card-title>
    <mat-card-content
      >From startups to enterprise level eCommerce portals, peruse through the sites I've worked on and built throughout
      my career along with the stories behind them.</mat-card-content
    >
    <mat-card-actions>
      <button mat-button routerLink="/portfolio">Learn More...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="section">
    <mat-card-title><mat-icon>keyboard</mat-icon>Skills</mat-card-title>
    <mat-card-content
      >There's always something to learn from every site I've worked on. Along the way, I've encountered and acquired
      quite a bit of skills to go along with the experience I have.</mat-card-content
    >
    <mat-card-actions>
      <button mat-button routerLink="/skills">Learn More...</button>
    </mat-card-actions>
  </mat-card>
</div>
